APPLICATION_NAME="MyTraveller"
ENV="local"
HOST="127.0.0.1"
PORT=8080
DEBUG=False


DB_URL="localhost:5432/postgres"
DB_SCHEMA="mytraveller"
DB_USERNAME="postgres"
DB_PASSWORD="password"

SECRET_KEY=your-super-secret-key-change-this-in-production-12345
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MIN=30

# Google Maps API (Mapbox API)
GOOGLE_MAPS_API_KEY=pk.eyJ1Ijoic2FpdmFyc2hpdGgiLCJhIjoiY21pdWpndm9jMTh0cjNlcTJhdTM4czZhNiJ9.JfkdZoiBqJtAl6d21622KA
GOOGLE_MAPS_CACHE_TTL=86400